# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Python compiled files.
*.pyc

# App Engine Indexing File. This is automated so there is no need.
index.yaml