body{
    margin-top: 50px;
}

.navbar{
    background-color: deepskyblue;
    border: 0px;
}


div.main_container{
    background-color: azure;
    min-height: 80vh;
}

div.main_container > div{
    top: 50px;
    bottom: 50px;
    position: fixed;
    overflow-y: auto;
}

.left-sidebar{
    left: 0px;
    width: 300px;
    background-color: white;
    border-right: 1px solid gray;
}

.right-container{
    position: absolute;
    right: 0px;
    left: 300px;
}

.main{
    margin: 20px 20px 20px 20px;
}

.breadcrumb{
    background-color: beige;
}

footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 50px;
    background-color: skyblue;
    padding: 5px 30px;
    z-index: 900;
}

footer > ul, footer > ul > li{
    display: inline;
    list-style: none;
}