<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Jephthah M. Orobia" />
    
    
  <!-- Bootsrap development -- delete on deploy
!-->
  <link rel="stylesheet" href="/fw/bootstrap/css/bootstrap.min.css" />
  
  
  <link rel="stylesheet/less" type="text/css" href="/less/typography.less" />
  <link rel="stylesheet/less" type="text/css" href="/less/layout.less" />
    
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/typography.css" />
  
  <!-- Bootstrap PRODUCTION CSS --uncomment this on deployment
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  !-->
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teacher's Sched Maker</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ user_login_url }}"><span><span class="glyphicon glyphicon-user"></span> Log In or Register</span></a></li>
            </ul>
        </div>
    </div>
</nav>
    
    
<div class="main_container">
    <div class="left-sidebar">        

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="collapse" data-target="#sys">
                School Years (S.Y)
                </button>
                <a href="new-sy" class="btn btn-primary">+ New S.Y.</a>
            </div>
            <div id="sys" class="panel-body collapse">
                <ul>
                {% for sy in sys %}
                    <li><a href="sy?id={{ sy.key.id() }}">{{ sy.display() }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% if sy %}
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="collapse" data-target="#teachers">Teachers</button>
                <a href="/new-teacher?id={{sy.key.id()}}" class="btn btn-primary">+ New Teacher</a>
            </div>
            <div id="teachers" class="panel-body collapse">
                <ul>
                {% for teacher in teachers %}
                    <li><a href="/teacher?id={{ teacher.key.id() }}&parent={{ sy.key.id() }}">{{ teacher.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="collapse" data-target="#sections">Classes</button>
                <a href="/new-class?id={{ sy.key.id() }}" class="btn btn-primary">+ New Class</a>
            </div>
            <div id="sections" class="panel-body collapse">
                {% for lvl in range(0,13) %}
                    {% if levels[lvl] %}
                        <h5>Grade {{ lvl }}</h5>
                        <ul>
                        {% for sect in levels[lvl] %}
                            <li>
                            <a href="/class?id={{ sect.key.id() }}&parent={{ sy.key.id() }}">{{ sect.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="collapse" data-target="#subjects">Subjects</button>
                <a href="/new-subject?id={{sy.key.id()}}" class="btn btn-primary">+ New Subject</a>
            </div>
            <div id="subjects" class="panel-body collapse">
                <ul>
                {% for subj in subjects %}
                    <li><a href="/subject?id={{ subj.key.id() }}&parent={{ sy.key.id() }}">{{ subj.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
        {% endif %}
    </div>
    <div class="right-container">
        <ol class="breadcrumb">
            {% block breadcrum %}
                <li class="active"><a href="..">Home</a></li>
            {% endblock %}
        </ol>
        <div class="main">
        {% block body %}
        {% endblock %}
        </div>
   </div>
</div>

<footer>
    <ul>
        <li>Teacher's Sched Maker &copy; 2015 Jephthah M. Orobia</li>
    </ul>
    <ul>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Contact</li>
    </ul>
<footer>


<!-- Development Files
    !-->
    <script src="/fw/jquery.min.js"></script>
    <script src="/fw/bootstrap/js/bootstrap.min.js"></script>
    <script src="/fw/less.min.js"></script>

    

<!-- PRODUCTION FILES --uncomment this on deployment
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
    !-->
</body>
</html>