{% extends "sy.html" %}

{% block body %}
    <form method="post">
        <p>
        <label for="lvl">Grade Level: 
            <input type="text" name="lvl" placeholder="Ex: 7" />
        </label>
        </p>
        <p>
        <label for="name">Name of Section
            <input type="text" name="name" placeholder="Ex: Diamond" />
        </label>
        </p>
        <p>
            <label for="withSaturday"><input type="checkbox" name="withSaturday" /> With Saturday</label>
        </p>
            <label for="withSunday"><input type="checkbox" name="withSunday" /> With Sunday</label>
        <p>
        </p>
        {% if teachers %}
        <p>
        <label for="adviser">Adviser: <select name="adviser">
                <option></option>
            {% for teacher in teachers %}
                <option value="{{ teacher.key.id() }}">{{teacher.name}}</option>
            {% endfor %}
            </select></label></p>
        {% endif %}
        <p>
        <input type="submit" value="Submit" />
        </p>
    </form>

{% endblock %}